  <!-- footer area start -->
  <footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3 mt-md-0">
                <div class="footer-logo">
                    <span>Education Academy</span>
                    <address> <strong>Head Office-</strong> Paradise mall, 5, Baghpat Rd Sabun Godam,
                        Jwala Nagar,Naval Vihar, Meerut, Uttar Pradesh
                        250002</address>
                    <address><strong>Corporate Office-</strong> Office No. 306, 3rd Floor, H-140 BSI Building
                        Sector-63,Noid</address>
                </div>
            </div>
            <div class="col-md-4 mt-3 mt-md-0">
                <h5>Our Courses</h5>
                <ul>
                    <li><a href="">IIT JEE</a></li>
                    <li><a href="">NEET</a></li>
                    <li><a href="">UP POLICE</a></li>
                    <li><a href="">CLASS 12</a></li>
                    <li><a href="">CLASS 11</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3 mt-md-0">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Disclaimer</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <p>&copy; 2024 Education Academy. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->



<script src="/assets/vendor/js/jquery-3.7.1.min.js"></script>

<script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/js/owl.carousel.min.js"></script>