.section-padding {
  padding: 50px 0px;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .section-padding {
    padding: 80px 0px;
  }
}
@media only screen and (max-width: 599px) {
  .section-padding {
    padding: 50px 0px;
  }
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-weight: 700;
  margin: 5px 0;
  stroke: 2px black;
}

.section-subtitle {
  color: rgba(0, 0, 0, 0.685);
  text-overflow: ellipsis;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 70%;
  text-align: center;
  margin: auto;
}
@media (max-width: 991px) {
  .section-subtitle {
    max-width: 100%;
  }
}

.section-subtitle1 {
  color: rgba(0, 0, 0, 0.685);
  text-overflow: ellipsis;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 70%;
  text-align: left;
}

.section-subtitle2 {
  color: rgba(0, 0, 0, 0.685);
  text-overflow: ellipsis;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 100%;
  text-align: left;
}

/* --------------------------------------------
    Typography 
 ---------------------------------------------- */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  line-height: 120%;
}

h1 {
  font-size: 2.986rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  h1 {
    font-size: 2.6874rem;
  }
}
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 2.388rem;
  }
}
h2 {
  font-size: 2.388rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  h2 {
    font-size: 2.149rem;
  }
}
@media only screen and (max-width: 599px) {
  h2 {
    font-size: 1.9104rem;
  }
}
h3 {
  font-size: 2.074rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  h3 {
    font-size: 1.866rem;
  }
}
@media only screen and (max-width: 599px) {
  h3 {
    font-size: 1.659rem;
  }
}
h4 {
  font-size: 1.728rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  h4 {
    font-size: 1.555rem;
  }
}
@media only screen and (max-width: 599px) {
  h4 {
    font-size: 1.3824rem;
  }
}
h5 {
  font-size: 1.44rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  h5 {
    font-size: 1.296rem;
  }
}
@media only screen and (max-width: 599px) {
  h5 {
    font-size: 1.152rem;
  }
}
h6 {
  font-size: 1rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  h6 {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 599px) {
  h6 {
    font-size: 0.8rem;
  }
}
a {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
  color: #2f207d;
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
}
a:hover {
  color: #47c341;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  a {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 599px) {
  a {
    font-size: 0.8rem;
  }
}
p {
  margin: 0px;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 599px) {
  p {
    font-size: 0.8rem;
  }
}
ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.offcanvas-header, .offcanvas-body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.accordion .accordion-item {
  margin-top: 20px;
}
.accordion .accordion-item .accordion-header {
  border: 0;
}
.accordion .accordion-item .accordion-header button {
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #333;
  font-weight: 700;
}
.accordion .accordion-item .accordion-header button:hover {
  color: #47c341;
}

.primary-button {
  color: #fff;
  padding: 15px 25px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) -3px -3px 9px inset, rgba(255, 255, 255, 0.15) 0 3px 9px inset, rgba(255, 255, 255, 0.6) 0 1px 1px inset, rgba(0, 0, 0, 0.3) 0 -8px 36px inset, rgba(255, 255, 255, 0.6) 0 1px 5px inset, rgba(0, 0, 0, 0.2) 2px 19px 31px;
  background-color: #7F00FF;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  transition: all 150ms ease-in-out;
}
.primary-button:hover {
  background-color: #00671e;
  color: #fff;
}

.secondary-button {
  padding: 12px 26px;
  border: 0;
  font-size: 16px;
  transition: all 150ms ease-in-out;
  border-radius: 14px;
  border: 1px solid #8BB33D;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px;
  color: #000000;
  font-weight: 600;
  background-image: linear-gradient(180deg, #B4E84E 0%, #8BB33D 100%);
  text-shadow: -1px 0 1px #B4E84E, 0 1px 1px #B4E84E, 1px 0 1px #B4E84E, 0 -1px 1px #B4E84E;
}
.secondary-button:hover {
  filter: brightness(1.1);
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #FFA500;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.cta-button:hover {
  filter: brightness(1.1);
}

.buyNow {
  background: #7fd12f;
  border: 1px solid #629921;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 #8ff339;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  padding: 10px 35px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #629921;
  background: linear-gradient(to bottom, #7fd12f 0%, #629921 100%);
  transition: padding 50ms ease-in-out, border-top-width 50ms ease-in-out, box-shadow 150ms ease-in-out;
}
.buyNow:hover {
  filter: brightness(1.1);
}

.exploreNow {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c9cbf), color-stop(50%, #546a9e), color-stop(50%, #36518f), color-stop(100%, #3d5691));
  background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  padding: 10px 35px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px;
}
.exploreNow:hover {
  background-color: #7f8dad;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
  background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  cursor: pointer;
}

.outline-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.226);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.outline-button:hover {
  border: 1px solid #2f207d;
  color: #333;
}

.cta-area {
  background-color: #333333;
  padding: 100px 0px;
  text-align: center;
  background-image: url(/assets/img/bg/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.cta-area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.cta-area .cta-text {
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
}
.cta-area .cta-text p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.cta-area .cta {
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
}

.counseling-modal .counseling-modal-content {
  text-align: start;
  padding: 20px;
}

.home-banner {
  width: 300px;
}
.home-banner .items {
  width: 100%;
}
.home-banner .items img {
  height: 300px;
  object-fit: fill;
  width: 100%;
}

.modal-content {
  border: none;
  border-radius: 0;
}

.formClose {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.registerForm {
  background-color: var(--primary-color);
  margin: auto;
  padding: 49px 34px 9px;
  position: relative;
}
.registerForm .logo {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 3px solid white;
  background: white;
}
.registerForm .logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.registerForm form input, .registerForm form textarea {
  width: 100%;
  border: 1px solid #d2d8dd;
  font-size: 1.4rem;
  margin: 5px 0;
}
.registerForm form input::placeholder, .registerForm form textarea::placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5254901961);
  padding-left: 5px;
}
.registerForm form input:focus, .registerForm form textarea:focus {
  outline: none;
}
.registerForm form label {
  font-size: 14px;
  font-weight: 500;
}
.registerForm form button {
  background-color: var(--accent-color) !important;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  border-radius: 0;
  font-weight: 600;
  padding: 5px 40px;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1px;
  margin-top: 30px;
}

.nav-section {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 10px 50px;
  margin: auto;
  z-index: 1001;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.nav-section .logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.nav-section .logo a:hover {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  -webkit-text-stroke: 2px #2f207d;
  letter-spacing: 1.5px;
  color: #2f207d;
}
.nav-section .logo img {
  height: 60px;
  margin-right: 8px;
}
.nav-section .logo span {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  -webkit-text-stroke: 2px #2f207d;
  letter-spacing: 1.5px;
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .nav-section .logo span {
    font-size: 22px;
  }
}
.nav-section .rightItems {
  display: flex;
}
.nav-section .rightItems .nav-menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
}
.nav-section .rightItems .nav-menu .nav-menu-item {
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.nav-section .rightItems .nav-menu .nav-menu-item span {
  display: flex;
  font-weight: 600;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  flex-direction: column;
  min-width: max-content;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.027);
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: #fff;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item span {
  background-color: white;
  padding: 2px 30px 5px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  color: black;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item span:hover {
  color: #fff;
  background-color: #FFA500;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item a {
  background-color: white;
  padding: 2px 30px 5px 20px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: black;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item a:hover {
  color: #fff;
  background-color: #FFA500;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item .secondMenu {
  position: relative;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item .secondMenu .d-dropdown-item-1 {
  display: none;
  position: absolute;
  flex-direction: column;
  z-index: 1;
  top: 0;
  border-radius: 5px;
  left: 100%;
  border: 1px solid rgba(0, 0, 0, 0.027);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: #fff;
  padding: 10px 0;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item .secondMenu .d-dropdown-item-1 a {
  background-color: white;
  padding: 2px 30px 5px 20px;
  font-size: 0.875rem;
  color: black;
  text-transform: uppercase;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item .secondMenu .d-dropdown-item-1 a:hover {
  color: #fff;
  background-color: #FFA500;
}
.nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item .secondMenu:hover .d-dropdown-item-1, .nav-section .rightItems .nav-menu .nav-menu-item .d-dropdown-item .secondMenu:focus-within .d-dropdown-item-1 {
  display: flex;
}
.nav-section .rightItems .nav-menu .nav-menu-item:hover .d-dropdown-item, .nav-section .rightItems .nav-menu .nav-menu-item:focus-within .d-dropdown-item {
  display: flex;
}
.nav-section .rightItems .nav-menu .m-menu {
  position: relative;
}
.nav-section .rightItems .nav-menu .m-menu .d-dropdown-item {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 30%;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}
.nav-section .rightItems .nav-menu .m-menu .d-dropdown-item .d-dropdown-item-1 {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.mobile-menu-area {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #f5f5f5;
  padding: 4px 0px;
}
.mobile-menu-area .mobile-menu {
  display: flex;
  display: row;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu-area .mobile-menu .mobile-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.mobile-menu-area .mobile-menu .mobile-logo a:hover {
  font-size: 20px;
  font-weight: 700;
  color: #2f207d;
  -webkit-text-stroke: 2px #2f207d;
  color: #2f207d;
  letter-spacing: 1.5px;
}
.mobile-menu-area .mobile-menu .mobile-logo img {
  height: 30px;
  margin-right: 8px;
}
.mobile-menu-area .mobile-menu .mobile-logo span {
  font-size: 20px;
  font-weight: 700;
  color: #2f207d;
  -webkit-text-stroke: 2px #2f207d;
  letter-spacing: 1.5px;
}
.mobile-menu-area .mobile-menu .mobile-menu-icon i {
  font-size: 28px;
  color: #2f207d;
}
.mobile-menu-area .mobile-menu .mobile-menu-icon i:hover {
  color: #00671e;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .offcanvas-custom-header {
  padding: 20px;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .offcanvas-custom-header span {
  font-size: 20px;
  font-weight: 700;
  color: #2f207d;
  -webkit-text-stroke: 2px #2f207d;
  letter-spacing: 1.5px;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .offcanvas-custom-header i {
  font-size: 30px;
  color: #2f207d;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .offcanvas-custom-header i:hover {
  color: #00671e;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items {
  padding: 20px 10px;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items .custom-accordion-item .custom-accordion-header button {
  box-shadow: none;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items .custom-accordion-item .custom-accordion-header button span {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items .custom-accordion-item .custom-accordion-body {
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items .custom-accordion-item .custom-accordion-body .m-menu-item-1 {
  padding: 5px;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items .custom-accordion-item .custom-accordion-body .m-menu-item-1 a {
  font-size: 1rem;
  color: #333;
}
.mobile-menu-area .mobile-menu .offcanvas-custom .mobile-menu-items .custom-accordion-item .custom-accordion-body .m-menu-item-1 .m-menu-item-2 {
  margin-left: 10px;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}
.footer-cta .single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.footer-logo p {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-left: 10px;
}
.footer-logo img {
  width: 70px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.home-about-area {
  margin: 50px;
}
@media (max-width: 991px) {
  .home-about-area {
    margin: 50px 0;
  }
}
.home-about-area .home-about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.home-about-area .home-about-text h1 {
  font-weight: 700;
}
.home-about-area .home-about-text h1 span {
  color: #FFA500;
}
.home-about-area .home-about-text p {
  margin-top: 10px;
}
.home-about-area .home-about-text li {
  margin-top: 20px;
  display: inline-block;
  margin-right: 12px;
  font-weight: 700;
}
.home-about-area .home-about-text li i {
  color: #FFA500;
  margin-right: 8px;
}
.home-about-area img {
  width: 100%;
  height: 100%;
}
.home-about-area button {
  padding: 10px 50px;
  margin-top: 40px;
  align-self: start;
}

.home-stat-area {
  margin-bottom: 50px;
}
.home-stat-area .home-stat-item {
  border: 1px solid #f5f5f5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.home-stat-area .home-stat-item h5 {
  font-weight: 700;
  line-height: 100%;
}
.home-stat-area .home-stat-item p {
  font-size: 0.75rem;
  line-height: 100%;
  margin-top: 4px;
  font-weight: 700;
}
.home-stat-area .home-stat-item i {
  font-size: 28px;
  background-color: #E4FAFF;
  color: #47c341;
  margin-right: 16px;
  line-height: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.online {
  background-color: #f7f7f7;
}

.offline {
  background-color: #fff;
}

.home-course-area .course-item {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin: 10px;
  margin-top: 60px;
}
.home-course-area .course-item .course-item-img {
  object-fit: contain;
}
.home-course-area .course-item .course-item-img img {
  border-radius: 5px;
}
.home-course-area .course-item:hover {
  box-shadow: 0px 55px 89px rgba(0, 0, 0, 0.1);
}
.home-course-area .course-item .course-item-text {
  padding: 10px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-course-area .course-item .course-item-text h5 {
  margin: 8px 0px;
  color: #2f207d;
  font-weight: 700;
}
.home-course-area .course-item .course-item-text p {
  margin-top: 10px;
  font-weight: 600;
}
.home-course-area .course-item .course-item-text .included-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-course-area .course-item .course-item-text .included-text .left-text li i {
  color: #47c341;
  font-size: 0.875rem;
  margin-right: 8px;
}
.home-course-area .course-item .course-item-text .included-text .left-text li span {
  font-size: 0.875rem;
  font-weight: 700;
}
.home-course-area .course-item .course-item-text .included-text .right-text li i {
  color: #47c341;
  font-size: 0.875rem;
  margin-right: 8px;
}
.home-course-area .course-item .course-item-text .included-text .right-text li span {
  font-size: 0.875rem;
  font-weight: 700;
}
.home-course-area .course-item .course-item-price {
  padding: 0px 20px;
  margin-top: 20px;
}
.home-course-area .course-item .course-item-price p {
  font-weight: 700;
}
.home-course-area .course-item .course-item-price ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.home-course-area .course-item .course-item-price ul li {
  display: inline-block;
}
.home-course-area .course-item .course-item-price ul li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
.home-course-area .course-item .course-item-price ul li:nth-child(2) {
  font-size: 1rem;
  margin-left: 10px;
  color: #333;
  font-weight: 600;
  text-decoration: line-through;
}
.home-course-area .course-item .course-item-price ul li:nth-child(3) {
  font-size: 1rem;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  top: -10px;
  right: 15px;
}
.home-course-area .course-item .course-item-button {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-number-area {
  background-color: #f7f7f7;
}
.home-number-area .number-item {
  background-color: #2f207d;
  color: #fff;
  border: 1px solid #f5f5f5;
  margin-top: 30px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-image: linear-gradient(220.55deg, #FFD439 0%, #FF7A00 100%);
}
.home-number-area .number-item h5 {
  font-weight: 700;
}
.home-number-area .number-item p {
  color: #fff;
  font-size: 0.875rem;
}

.course-list-hero-area {
  background-color: #2f207d;
}
.course-list-hero-area .hero-text {
  color: #fff;
  padding: 50px 0px;
}
.course-list-hero-area .hero-text p {
  margin-top: 10px;
}

.course-list-area .course-item {
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.course-list-area .course-item .course-item-img {
  object-fit: contain;
}
.course-list-area .course-item .course-item-img img {
  border-radius: 5px;
}
.course-list-area .course-item .course-item-text {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-list-area .course-item .course-item-text h5 {
  margin: 8px 0px;
  color: #2f207d;
  font-weight: 700;
}
.course-list-area .course-item .course-item-text p {
  margin-top: 10px;
  font-weight: 600;
}
.course-list-area .course-item .course-item-text .included-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.course-list-area .course-item .course-item-text .included-text .left-text li i {
  color: #47c341;
  font-size: 0.75rem;
  margin-right: 8px;
}
.course-list-area .course-item .course-item-text .included-text .left-text li span {
  font-size: 0.75rem;
  font-weight: 700;
}
.course-list-area .course-item .course-item-text .included-text .right-text li i {
  color: #47c341;
  font-size: 0.75rem;
  margin-right: 8px;
}
.course-list-area .course-item .course-item-text .included-text .right-text li span {
  font-size: 0.75rem;
  font-weight: 700;
}
.course-list-area .course-item .course-item-price {
  padding: 0px 10px;
  margin-top: 20px;
}
.course-list-area .course-item .course-item-price p {
  font-weight: 700;
}
.course-list-area .course-item .course-item-price ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.course-list-area .course-item .course-item-price ul li {
  display: inline-block;
}
.course-list-area .course-item .course-item-price ul li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
.course-list-area .course-item .course-item-price ul li:nth-child(2) {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  text-decoration: line-through;
}
.course-list-area .course-item .course-item-price ul li:nth-child(3) {
  font-size: 1rem;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 4px;
  padding: 4px 8px;
}
.course-list-area .course-item .course-item-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.course-view-hero-area {
  background-color: #2f207d;
}
.course-view-hero-area .hero-text {
  color: #fff;
}
.course-view-hero-area .hero-text p {
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
.course-view-hero-area .hero-text .hero-price-area span:nth-child(1) {
  font-size: 1.5rem;
}
.course-view-hero-area .hero-text .hero-price-area span:nth-child(2) {
  font-size: 1rem;
  text-decoration: line-through;
  margin: 0px 20px;
}
.course-view-hero-area .hero-text .hero-price-area span:nth-child(3) {
  font-size: 1rem;
  background-color: #47c341;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.main .course-view-content-area {
  padding: 30px 0px;
}
.main .course-view-content-area h2 {
  font-weight: 700;
}
.main .course-view-content-area .course-content {
  margin-top: 10px;
}
.main .course-view-content-area .course-content ol {
  color: #333;
}
.main .course-view-content-area .course-content ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 20px;
}
.main .course-view-course-include-area {
  padding: 30px 0px;
}
.main .course-view-course-include-area h4 {
  text-align: start;
  font-weight: 700;
}
.main .course-view-course-include-area .course-include-item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(0, 0, 0, 0.062);
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
.main .course-view-course-include-area .course-include-item span {
  font-size: 1rem;
  font-weight: 700;
  color: #47c341;
}
.main .course-view-course-include-area .course-include-item h6 {
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
.main .course-view-top-faculties-area {
  padding: 30px 0px;
}
.main .course-view-top-faculties-area h4 {
  font-weight: 700;
}
.main .course-view-top-faculties-area .faculty-item {
  margin: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main .course-view-top-faculties-area .faculty-item .faculty-text h5 {
  font-weight: 700;
}
.main .course-view-top-faculties-area .faculty-item .faculty-text span {
  display: block;
  font-size: 0.875rem;
  color: #47c341;
  font-weight: 700;
}
.main .course-view-top-faculties-area .faculty-item .faculty-text ul li {
  font-size: 0.875rem;
  font-weight: 700;
}
.main .course-view-top-faculties-area .faculty-item .faculty-img {
  height: 70px;
  width: 70px;
}
.main .course-view-top-faculties-area .faculty-item .faculty-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main .course-view-faq-area {
  padding: 30px 0px 100px 0px;
}
.main .course-view-sidebar-area {
  margin-top: 30px;
}
.main .course-view-sidebar-area .sidebar-cta-card {
  padding: 20px;
  border-radius: 5px;
  margin-right: 26px;
  border-radius: 5px;
  background: white;
}
.main .course-view-sidebar-area .sidebar-cta-card img {
  border-radius: 5px;
}
.main .course-view-sidebar-area .sidebar-cta-card h6 {
  text-align: center;
  font-weight: 700;
  margin: 50px 0px 0px 0px;
}
.main .course-view-sidebar-area .sidebar-cta-card ul {
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .course-view-sidebar-area .sidebar-cta-card ul li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}
.main .course-view-sidebar-area .sidebar-cta-card ul li:nth-child(2) {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: line-through;
}
.main .course-view-sidebar-area .sidebar-cta-card ul li:nth-child(3) {
  font-size: 1rem;
  background-color: #47c341;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
.main .course-view-sidebar-area .sidebar-cta-card button {
  display: block;
  width: 100%;
  margin-top: 50px;
}

.about-hero-area {
  background-color: #2f207d;
}
.about-hero-area .hero-text {
  color: #fff;
}
.about-hero-area .hero-text h2 {
  font-weight: 700;
}

.about-area .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.about-area .about-text p {
  margin: 10px 0px 20px 0px;
}
.about-area img {
  background-color: green;
}
.about-area button {
  align-self: start;
}

.about-why-us-area .why-us-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  margin-top: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about-why-us-area .why-us-item .why-us-img {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
}
.about-why-us-area .why-us-item .why-us-img i {
  font-size: 32px;
  color: #47c341;
}
.about-why-us-area .why-us-item h6 {
  font-weight: 700;
  color: #333;
}
.about-why-us-area .why-us-item p {
  margin-top: 8px;
  font-weight: 400;
  color: #333;
}

.contact-hero-area {
  background-color: #2f207d;
}
.contact-hero-area .contact-text {
  color: #fff;
}

.contact-form-area label {
  color: #47c341;
}

.contact-info-area .contact-info-item {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #333;
  margin-bottom: 20px;
}
.contact-info-area .contact-info-item i {
  font-size: 20px;
  margin-right: 8px;
  color: #47c341;
}
.contact-info-area .contact-info-item span {
  font-size: 1rem;
  font-weight: 700;
}
.contact-info-area .contact-info-item address {
  margin-left: 30px;
  font-size: 1rem;
}

.facultyView-hero-area {
  background-color: #2f207d;
  color: #fff;
}

.facultyView-info-area {
  background-color: #fff;
}
.facultyView-info-area .faculty-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.facultyView-info-area .faculty-info-content .faculty-info-img {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.541);
  border-radius: 10px;
  margin-right: 30px;
}
.facultyView-info-area .faculty-info-content .faculty-info-img img {
  width: 100%;
  height: 100%;
}
.facultyView-info-area .faculty-info-content .faculty-info-text-area span {
  font-size: 0.875rem;
  color: #FFA500;
  font-weight: 700;
}
.facultyView-info-area .faculty-info-content .faculty-info-text-area p {
  font-weight: 700;
  color: #333;
  margin-top: 10px;
}
.facultyView-info-area .faculty-info-content .faculty-info-text-area li {
  display: block;
  font-weight: 1rem;
  margin-left: 10px;
}
.facultyView-info-area .faculty-info-content .faculty-info-text-area li i {
  color: #FFA500;
  margin-right: 8px;
}
.facultyView-info-area .faculty-des {
  margin-top: 30px;
}
.facultyView-info-area .faculty-des p {
  margin-bottom: 20px;
}
.facultyView-info-area .faculty-des li {
  display: block;
  font-size: 1rem;
}
.facultyView-info-area .faculty-des li i {
  margin-right: 8px;
  color: #4CAF50;
}

/*# sourceMappingURL=style.css.map */
