.course-view-hero-area{
background-color: $primary-color;
.hero-text{
color: $text-light;
p{
    margin: 20px 0px 0px 0px;
    font-weight: $bold;
}
.hero-price-area{

    span:nth-child(1){
        font-size: 1.5rem;
      
    }
    span:nth-child(2){
        font-size: 1rem;
        text-decoration: line-through;
        margin: 0px 20px;
    }
    span:nth-child(3){
        font-size: 1rem;
        background-color: $accent-color;
        color: $text-light;
        padding: 5px 10px;
        border-radius: 5px;
       
    }
}
}
}

.course-view-content-area{}

.course-view-course-include-area{

}

.course-view-course-include-area{
    h4{
        text-align: start;
    }

    .course-include-item{
        padding: 20px;
    }
}

.course-view-top-faculties-area{
    .faculty-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: green;
      
        .faculty-text{

        }
        .faculty-img{
            height: 200px;
            width: 200px;
        }
    }
}

.course-view-faq-area{

}

.course-view-sidebar-area{

    .sidebar-cta-card{
  padding: 20px;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
    }
}