//cta area style
.cta-area{
    background-color: $dark;
    padding: 100px 0px;
    text-align: center;
    .cta-text{
        color: $light;
        p{
            margin-top: 10px;
            margin-bottom: 10px;
            color: $light;
        }
    }
    .cta{
        margin-top: 20px;
       
    }
}