//footer area style 
.footer-area{
    background-color: $bg-color-1;
  
    .footer-logo{

        span{
            font-size: 30px;
            font-weight: $bold;
            line-height: 100%;
            -webkit-text-stroke: 2px $primary-color;
            letter-spacing: 1.5px;
        }
        address{
            font-size: $smaller-font;
            margin-top: 8px;
            color: $text-dark;
            font-weight: $bold;
            max-width: 80%;
            
            
        }
        
    }
    h6{
        font-weight:$bold;
    }

    ul{
        li{
            display: block;
            margin-top: 4px;
            margin-left: 8px;
            a{
                font-size: $smaller-font;
                font-weight: $bold;
            }
        }
    }

    hr{
        margin-top: 30px;
    }
    p{
       
        text-align: center;
        font-weight: $bold;
        font-size: $smaller-font;
    }
}