
//helper classes
.section-padding{
    padding: 100px 0px;
}

.section-title{
    text-align: center;
    h2{
        font-weight: 700;
    }
    p{
        font-size: 1.25rem;
        font-weight: 500;
    }
}

